.container-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.set-with-navbar{
    width:6.5%;
    transition: all 0.75s ease;
}
.set-with-navbar.open{
    width: 19%;
}
.set-with-router{
    width:93.5%;
    transition: all 0.75s ease;
}
.set-with-router-open{
    width:79.3%;
}
@media only screen and (max-width: 768px){
    .left, .right{
        float: none;
        width: 100%;
    }
}
.navTitle{
    background-color: black;
    height: 60px;
}
.auth{
    margin-left: 85%;
    margin-top: 1%;
}
.sign{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-style:initial;
}
.sign:hover{
    text-decoration:underline;
    color: black;
}
.register{
    margin-left: 5%;
}